.popular-courses {
  padding: 4rem 1rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: clamp(2px, 0.6vw, 3px) clamp(20px, 5vw, 100px);
  margin: 0 auto;
}

.courses-header {
  text-align: center;
  margin-bottom: 2rem;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  font-size: 0.875rem;
  font-family: var(--font-top);
  border-radius: 5px;
  max-width: 210.73px;
  min-height: 32px;
  background-color: var(--accent-purple-color);
}

.section-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  font-weight: 700;
  max-width: 741.1px;
  width: 100%;
  line-height: 58.5px;
  text-align: start;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.course-card {
  border: 1px dashed var(--primary-color);
  background-color: var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.course-header {
  padding: 1rem;
  position: relative;
}

.course-header img {
  max-width: 382px;
  width: 100%;
}

.course-category {
  display: inline-block;
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 0.25rem 0.75rem;
  background-color: var(--category-color);
  border-radius: 5px;
  font-size: 0.875rem;
  color: white;
  font-family: var(--font-top);
}

.course-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
}

.rating-stars {
  color: var(--rating-stars-color);
  font-weight: 900;
}

.rating-value {
  font-weight: 500;
  color: var(--rating-value-color);
  margin-left: 2px;
}

.rating-price {
  color: var(--primary-color);
  font-weight: 500;
}

.course-content {
  position: relative;
  padding: 0 0.6rem 0.6rem;
}

.course-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-image: url("../../assets/images/card-bg-image.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;

}

.course-content > * {
  position: relative;
  z-index: 1;
}


.course-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.course-info {
  display: flex;
  gap: 0.8rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  border-radius: 5px;
  min-height: 50px;
  background-color: white;
  font-family: var(--font-top);
  padding: 0 8px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #17254e;
  font-size: 0.875rem;
}

.instructor-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.course-footer .instructor-info img{
  flex-shrink: 0;
  width: 30px;
  height: 30px;
}

.instructor-name {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

@media (max-width: 1024px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .course-title {
    font-size: 1rem;
  }

  .info-item {
    font-size: 0.5rem;
  }

  .instructor-name {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }

  .courses-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .courses-categories {
    gap: 0.5rem;
  }

  .section-title {
    line-height: 28.5px;
    text-align: start;
  }
}

@media (max-width: 480px) {
  .popular-courses {
    padding: 2rem 0;
  }

  .section-label{
    flex-direction: column;
  }

  .section-title {
    font-size: 1rem;

  line-height: 48.5px;
  }

  .course-footer {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }
}
