.footer-container {
  background: black;
  color: white;
  padding: 4rem 1rem 0;
  font-family: var(--font-top);
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: clamp(2px, 0.6vw, 3px) clamp(20px, 5vw, 100px);
  margin: 0 auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-bottom: 4rem;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 22px;
  line-height: 24.1px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links li:hover {
  color: var(--secondary-color);
}

.footer-gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.footer-gallery img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 1rem;
}

.footer-bottom {
    display: flex;
  align-items: center;    
  justify-content: center;
  background-color: #222222;
  height: 70.3px;
}

.footer-name {
  color: var(--secondary-color);
  font-weight: 700;
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
