@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #704fe6;
  --secondary-color: #ffd25d;
  --text-color: #0e2a46;
  --text-light: #333931;
  --border-color: #f4f5f8;
  --background-color: #ffffff;
  --radius-md: 8px;
  --radius-smd: 10px
  --radius-lg: 16px;
  --radius-xl: 20px;
  font-family: "Epilogue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color)
}

